<div style="text-align:center">
  <h1>
    Bienvenue sur l'appli {{ titre }}!
  </h1>
  <h2>Sous-titre général</h2>
</div>
<p [textContent]="uneVariable"></p>

<app-user-card *ngFor="let user of users" [currentUser]="user"></app-user-card>

<app-user-editor></app-user-editor>

<hr>

<app-summary 
  *ngIf="isGameOver" 
  [nomGagnant]="leGagnant" 
  [scoreGagnant]="leScore"
  ></app-summary>

<div *ngIf="!isGameOver">
<app-hello 
  *ngFor="let item of titres" 
  [titreComposant]="item" 
  (maxAtteint)="onMaxAtteint(item, $event)">
</app-hello>
</div>

